<h1>Editing Book</h1>

<%= form_for @book do |form| %>

<div class="field">
 <%= form.label :Title %></br>
 <%= form.text_field :title %>
</div>
<div class="field">
  <%= form.label :Body %></br>
  <%= form.text_area :body %>
</div>
<div class="actions">
  <%= form.submit %></br>
</div>

<% end %>

<%= link_to "Show",book_path(@book.id) %>
|
<%= link_to "Back",books_path %>
