<h1>Editing Book</h1>

<% if @book.errors.any? %>
<div class="error">
<h2><%= @book.errors.count %> errors prohibited this book from being saved:</h2>
<ul>
  <% @book.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>
<% end %>
</div>

<%= form_for @book do |form| %>

<div class="field">
 <%= form.label :Title %></br>
 <%= form.text_field :title %>
</div>
<div class="field">
  <%= form.label :Body %></br>
  <%= form.text_area :body %>
</div>
<div class="actions">
  <%= form.submit %></br>
</div>

<% end %>

<%= link_to "Show",book_path(@book.id) %>
|
<%= link_to "Back",books_path %>
