
<h2>New book</h2>
<div class="error">
<% if @book.errors.any? %>
<h2>2 errors prohibited this book from being saved:</h2>
<ul>
  <% @book.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>
<% end %>
</div>

<%= form_for @book do |form| %>

<div class="field">
  <div class="field_with_errors">
  <%= form.label :Title %></br>
  </div>
   <div class="field_with_errors">
  <%= form.text_field :title %>
  </div>
</div>
<div class="field">
   <div class="field_with_errors">
   <%= form.label :Body %></br>
   </div>
   <div class="field_with_errors">
   <%= form.text_area :body %>
   </div>
</div>
<div class="actions">
 <%= form.submit %></br>
</div>
<% end %>
